{% extends "base.html" %}

{% block title %}
    Blog Details
{% endblock %}

{% block content %}


<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html' %} # This is the include tag
        </div>
        <div class="col-9">
            <h1> Blog Details: {{id}} </h1>
            <hr>

            {%include 'blog/partials/_blog.html'%}
            {%include 'blog/partials/_blog.html'%}
            {%include 'blog/partials/_blog.html'%}
            {%include 'blog/partials/_blog.html'%}
            {%include 'blog/partials/_blog.html'%}
                           
        </div>
    </div>
</div>



{% endblock %}